:root {
	--white-text-color: #FFF;
	--primary-text-color: rgb(255 255 255 / 87%);
	--secondary-text-color: #676E95;
	--primary-bg-color: #242424;
	--secondary-bg-color: #1A1A1A;
	--primary: #646CFF;
	--primary-light: #BCC0FF;
	--primary-hover: #535BF2;
	--score-positive: #42D392;
	--score-negative: #FD1D7C;
	--divider-dark: rgb(84 84 84 / 48%);
	--divider-light: rgb(211 209 209 / 48%);
	--font-family-base:
		-apple-system,
		blinkmacsystemfont,
		"Segoe UI",
		"Roboto",
		"Oxygen",
		"Ubuntu",
		"Cantarell",
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	transition: color 0.25s;
	text-decoration: none;

	color: var(--primary);

	font-weight: 500;
}

a:hover {
	color: var(--primary-hover);
}

body {
	min-width: 320px;
	min-height: 100vh;
	margin: 0;

	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);

	font-family: var(--font-family-base);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
}
