.button {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0.5rem;

	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

	border: 1px solid transparent;
	border-radius: 8px;

	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	column-gap: 0.5rem;
}

.disabled {
	cursor: not-allowed;

	background-color: var(--primary-light) !important;
}

.button svg {
	width: 1.25rem;
	height: 1.25rem;

	fill: var(--primary);
}

.primary {
	color: var(--primary-text-color);
	border-color: var(--primary);
	background-color: var(--primary);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.ghost {
	color: var(--primary-text-color);
	border: none;
	background: none;
}

.ghost:hover {
	opacity: 0.7;
}

.loading {
	width: 20px;
	height: 20px;

	animation: loading-btn 0.8s infinite linear;

	border: 3px solid;
	border-color: var(--primary-text-color);
	border-right-color: transparent;
	border-radius: 50%;
}

@keyframes loading-btn {
	to {
		transform: rotate(1turn);
	}
}
