.typography {
	margin: 0;
	padding: 0;
}

.primary {
	color: var(--primary-text-color);
}

.secondary {
	color: var(--secondary-text-color);
}

.special {
	color: var(--primary-light);
}

.s {
	font-size: 0.75rem;
	line-height: 1rem;
}

.m {
	font-size: 1rem;
	line-height: 1.25rem;
}

.l {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

.regular {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}

.black {
	font-weight: 900;
}

.typography p:first-of-type {
	margin-top: 0;
}

.typography p:last-of-type {
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	.l {
		font-size: 1rem;
		line-height: 1.25rem;
	}

	.m {
		font-size: 0.75rem;
		line-height: 1rem;
	}
}
