.spinner {
	width: 56px;
	height: 56px;

	animation: spinner 0.8s infinite linear;

	border: 8px solid;
	border-color: var(--primary-text-color);
	border-right-color: var(--primary);
	border-radius: 50%;
}

@keyframes spinner {
	to {
		transform: rotate(1turn);
	}
}
