.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--primary-text-color);
  border-right-color: var(--primary);
  animation: spinner 0.8s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
