.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4em;
  box-shadow: inset 0 -1px 1px var(--secondary-bg-color);
}

.logo {
  color: var(--primary-light);
  font-size: 2.3rem;
  font-weight: 900;
}

.logo:hover {
  color: var(--primary);
}
