.card {
	display: flex;
	flex-direction: column;

	transition: border-color 0.25s;

	opacity: 0.8;

	border: 2px solid transparent;
	border-radius: 0.75rem;
	background-color: var(--secondary-bg-color);
}

.card:hover {
	opacity: 1;
	border-color: var(--primary);
}

.link {
	padding: 2rem;
}

a.link:visited h2 {
	color: rgb(131 131 131 / 20%);
}

.card_header {
	display: grid;

	align-items: center;
	justify-content: start;

	margin-bottom: 1rem;
	grid-template-columns: auto auto auto;
	column-gap: 0.75rem;
}

.card_body {
	display: grid;
	grid-template-columns: min-content auto;

	align-items: center;
	column-gap: 2rem;
}

.skeleton {
	row-gap: 1rem;

	padding: 1rem;
}

.skeleton_header {
	display: grid;
	grid-template-columns: 5% 20% 20%;
	column-gap: 0.75rem;
	grid-template-rows: 2rem;

	align-items: center;
}

.skeleton_body {
	display: grid;
	grid-template-columns: 4rem auto 15%;
	grid-template-rows: 1.5rem 1rem;

	align-items: center;
	gap: 1rem;
}

.skeleton_score {
	grid-column: 1/2;
	grid-row: 1/-1;
}

.skeleton_title {
	grid-column: 2/-1;
	grid-row: 1/-1;
}

@media screen and (max-width: 768px) {
	.card {
		border-radius: 0.5rem;
	}

	.link {
		padding: 1.5rem;
	}

	.card_header {
		margin-bottom: 0.5rem;
	}

	.skeleton_header {
		grid-template-rows: 0.75rem;
	}

	.skeleton_body {
		grid-template-columns: 3rem auto 15%;
		grid-template-rows: 1rem 1rem;
		gap: 0.75rem;
	}
}
